*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}



input:not(#policy-agree, #create-team, #join-team), select {
    display:inline-block;
    border: 1px solid #383A39;
    background-color:#ECEEED;
    height: 35px;
    width: 310px;
    padding: 5px;
    margin-left: 10px;
}
input[text]{
  font-size: 10px;
  font-weight: 100;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
}
input[type="password"]{
  font-family: "default";
}
label {
    position: relative;
    top: -6px;
    text-align: left;
}

#banner-container #banner-img {
    width: 100%; /* for IE 6 */
    position: relative;
    top: 60px;
 }
#banner-container #banner-img .top_title{
  color: white;
  position: relative;
}

 /* 공통부분 */
#box-color{
  width: 100%;
  height: 100%;
  background-color: #ECEEED;
  padding-top: 130px;
}
#box-size{
  width: 920px;
  margin: 0 auto;
}
.required{
  color: rgb(215, 64, 70);
  font-weight: bold;
  font-size: 16px;
  padding-right: 2px;
}

/* 이용약관 */
#register-form{
  padding: 0 0 50px 0;
  background-color: #ECEEED;
}
#register-form #policy-agree{
}
#register-form #policy-text{
  width: 100%;
  height: 150px;
  background-color: white;
  border: 3px solid #DBDBDB;
  overflow: auto;
  padding: 10px;
}

/* 양쪽 균등분할 적용 */
.register-size{
  display: flex;
  justify-content: space-between;
}

#box-size .mask3, #box-size .mask4{
  height: 380px;
}

/* 왼쪽 */
.req_notice{
  font-size: 15px;
  color: rgb(215, 64, 70);
}
.mask3 .input-form {
  height: 40px;
  width: 450px;
  margin: 17px auto 40px 0;
  text-align: right;
}
.mask .resize_track{
  margin: 23px auto 40px auto;
}
#track-form {
    width: 31-0px;
    margin-left: 5px;
}
#track-form option{
    width: 260px;
}
.mask3 .input-form #user-id{
  width: 230px;
}
#id-validation, #team-validation, #submit-form, #email-validation{
    background-color: black;
    color: white;
    height: 35px;
    border: 1px solid black;
    position: relative;
    top: -6px;
}
#email-validation {
    margin-top: 6px;
    position: }
#submit-form {
    margin-top: 40px;
}
.mask3 .input-form #user-email{
  width: 216px;
}
/* 오른쪽 */
.mask4 .radio-switch{
  text-align: right;
  margin-bottom: 5px;
  padding-top: 8px;
}
.mask4 .radio-switch #join-team, .mask4 .radio-switch #create-team{
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.mask4 .input-form {
  height: 80px;
  width: 450px;
  margin: 40px auto;
  text-align: right;
}
.mask4 .mask6 .input-form {
  width: 380px;
  margin: 0 auto;
  text-align: right;
}

.mask6 .double-input{
  height: 165px;
}
.mask6 .double-input p{
  font-size: 12px;
  margin-top: -8px;
  color: rgb(215, 64, 70);
}
.mask6 #team-validation{
  width:60px;
  position: relative;
  top: -2px;
}
.mask6 #team-pw{
  width: 246px;
  margin-top: 30px;
}


/* 회원가입 버튼 */
.mask5{
  text-align: center;
}
